<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <div>
                <h3> Edit Painting </h3>
                <div class="errors">
                    <% if (locals.errors && locals.errors.length> 0) { %>
                        <ul>
                            <% errors.forEach((err)=> { %>
                                <li>
                                    <%= err.msg %>
                                </li>
                                <% }) %>
                        </ul>
                        <% } %>
                </div>
                <form action="/paintings/edit" method="post">
                    <p>please make sure the painter is in the database.<br /> otherwise, please <a
                            href="/createpainter">add
                            painter
                            first.</a> </p>
                    <label for="name">Painting name: </label>
                    <input type="text" id="name" name="name" value="<%= locals.painting.name %>">
                    <label for="year"> Year created: </label>
                    <input type="text" id="year" name="year" pattern="^\d{4}$"
                        value="<%= locals.painting?.year || '' %>">
                    <label for="image_url">Image URL: </label>
                    <input type="url" id="image_url" name="image_url" value="<%= locals.painting?.image_url || '' %>">
                    <label for="description">Description: </label>
                    <textarea name="description" id="description"
                        rows="5"><%= locals.painting?.description || '' %></textarea>
                    <label for="painter_id"> choose painter: </label>
                    <select name="painter_id" id="painter_id">
                        <% locals.painters?.forEach(painter=> { %>
                            <option value="<%= painter.id %>" <%=painter.id===painting.painter_id ? 'selected' : '' %>>
                                <%= painter.name %>

                            </option>
                            <% }) %>
                    </select>
                    <fieldset class="addPaintingCategories">
                        <legend>Categories</legend>
                        <% locals.categories?.forEach(category=> { %>
                            <div class="addNewPaintingCheckboxContainer">
                                <label for="<%= category.name %>">
                                    <%= category.name %>
                                </label>
                                <input type="checkbox" id="<%= category.name %>" name="categories"
                                    value="<%= category.id %>" <%=checkedCategories.includes(category.name) ? 'checked'
                                    : '' %>>
                            </div>
                            <% }) %>

                    </fieldset>
                    <input type="text" hidden value="<%= painting.id %>" name="id">
                    <button type="submit"> Update </button>

                </form>

            </div>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>