<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container">

                <div class="imgDescriptionFlex">
                    <div class="paintingImgContainer">
                        <img src="<%= painting.image_url %>" alt="">
                    </div>
                    <div class="description">
                        <h2 style="text-align: center;">
                            <%= painting.name %>
                        </h2>
                        <p>
                            <%= painting.description %>
                        </p>
                        <div>
                            <% categories.forEach((category, index)=> { %>
                                <span>
                                    <%= category %>
                                        <%= index < categories.length - 1 ? " |" : "" %>
                                </span>
                                <% }) %>
                        </div>
                        <div>
                            <br />
                            <button>Edit Details</button>
                            <button>Delete painting</button>
                        </div>
                    </div>
                </div>
            </div>

    </body>

</html>