<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container">

                <div class="imgDescriptionFlex">
                    <div class="paintingImgContainer">
                        <img src="<%= painting.image_url %>" alt="">
                    </div>
                    <div class="description">
                        <h2 style="text-align: center;">
                            <%= painting.name %>
                        </h2>
                        <p>
                            <%= painting.description || 'seems like that painting don\' t have a description.' %>
                        </p>
                        <div>
                            <% categories.forEach((category, index)=> { %>
                                <span>
                                    <a href="/paintings/<%= category.replace(/\s/g, '') %>">
                                        <%= category %>
                                    </a>
                                    <%= index < categories.length - 1 ? " | " : "" %>
                                </span>
                                <% }) %>
                        </div>
                        <div>
                            <br />
                            <button><a href="/paintings/edit?name=<%= painting.name %>">Edit Details</a></button>
                            <!-- <button><a href="/paintings/delete">Delete painting</a></button> -->
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/footer.ejs') %>
    </body>


</html>